.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;

  }
  
  h2 {
    text-align: center;

  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    
  }
  